extends layout

block content
  div.container
    div.hero-unit
      h1 HOAAS
      h2 Hodor As A Service
      p Please see README for use
      p
        em v0.0.1
  div.container
    div.content
      h2 Introduction
      p HOAAS (HOdor As A Service) provides a modern, RESTful, scalable solution to the common problem of talk with
        strong  Hodor.
        img(src="/images/talk-hodor.gif")

      h2 Content Negotiation
      p HOAAS will respond to the following 'Accept:' values with appropriate content
      ul
        li text/plain - Content will be returned as a plain string.
        li application/json - Content will be returned as a JSON object { message: 'message' }
        li text/html - Content will be returned as an HTML page with a twitter bootstrap hero unit, containing the Hodor's message.

      h2 API

      h3 /hodor
      p Will return content of the form 'Hodor' with or without different final dot.

      h3 /hodor/:number
      p Will return content of the form 'Hodor, Hodor' for :number times with or without different final dot.

      h3 /hodor/question/:question
      p Will return content of right Hodor answer for your question.


    div.content
      h2 Thanks
      img(src="/images/1-hodor.jpg")
      br
      br
      p
        strong All contributions are very welcome.

      p Not Written in
        a(href="http://expressjs.com/")  Express

      p Not Inspired to
        a(href="http://foaas.com/")  FOAAS (Fuck Off As A Service)

      p Fork me on
        a(href="https://github.com/ilbonzo/hoaas")  github

      p Created by
        a(href="https://twitter.com/ilbonzo")  @ilbonzo
